services:
  api:
    build:
      context: .
      dockerfile: src/Api/Dockerfile
    ports:
      - "5050:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80
